*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #202F36;
}

header {
  background-color: #131F24;
  margin-bottom: 25px;
  }

.containnerheader{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    color: white;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.1);
}
  
  .imagemperfil{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-about{
    width: 45%;
    width: 50%;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

  header img {
    margin-top: 50px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 5px solid #202F36;
    object-fit: cover;
    object-position: center center;
  }


  
  header h1 {
    margin-top: 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: white;
    font-size: 24px;
  }

  nav {
    background-color: #3152E5;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
  }


  
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin:  50px;
  }
  
  nav li:first-child {
    margin-left: 0;
  }
  
  nav li:last-child {
    margin-right: 0;
  }

 #pnav{
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
  }

  a{
    text-decoration: none;
    color: #FFFFFF;
  }

  a:hover{
    text-decoration: underline;
  }

  
.about {
    margin-top: 50px;
  text-align: left;
  display: flex;
  align-items: center;
 
  justify-content: space-evenly;
  color: #333333;
}



.about h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
  margin-left: 10px;
}

.containnerskills{
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

#myskills{
  color: #ffffff;
  font-size: xx-large;
  font-family: monospace;
  margin: 2%;
}

.skillcards {
    width: 100%;
  display: flex;
  flex-direction: row;
 justify-content: space-around;
 margin: 10px;
}

#imgskill{
  width: 90%;
}




.skillcard-html{
  width: 20%;
  background-color: #FF4E1D;
  border-radius: 10%;
  transition: 500ms linear; 
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.skillcard-css{
  width: 20%;
  background-color: #0074BE;
  border-radius: 10%;
  transition: 500ms linear; 
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.skillcard-js{
  width: 20%;
  background-color: #F8DC3E;
  border-radius: 10%;
  transition: 500ms linear; 
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.skillcard-html:hover{
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.skillcard-css:hover{
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.skillcard-js:hover{
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.servicos{
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    background-color: #F9F9F9;
}

.servicos h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-left: 5%;
    margin-bottom: 30px;
}

.imgservicos{
    width: 50%;
}

.divsservicos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.divwebdesign{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    border-radius: 50%;
}

.divdevweb{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    border-radius: 50%; 
}

.divsservicos p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin: 0px;
    color: rgb(0, 0, 0);
}